.main-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
.left-container{
  background: rgba(0,0,0,0.4);
  backdrop-filter: saturate(180%) blur(10px); 
  width: 30%;
  height: 100vh;
  position: relative;
  color:white;
  font-family: 'Jost', sans-serif;

}
.left-container-align{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: start;
  align-items: center;
  padding-top: 25px;
}
.left-container-forecastData-container{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 15px;
  text-align: center;
}
.left-container-forecastData-heading{
  font-size: 22px;
}
.forecast-single-container{
  background-color: rgba(255, 254, 254, 0.384);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 100%;
  
}
.forecast-single-container img{
  position: relative;
  top: -5%;
  height: 65px;

}
.forecast-single-container h2{
  position: relative;
  top: -10%;
  font-weight: 500;
  font-size: 20px;
}
.forecast-single-container h4{
  font-size: 18px;
  font-weight: 500;
  position: relative;
  top: -10%;

}
.forecast-single-container h5{
  font-size: 12px;
  font-weight: 500;
  position: relative;
  top: -10%;

}
ul{
  display: grid;
  column-gap: 5%;
  row-gap: 8%;
  grid-template-columns:repeat(auto-fill, minmax(100px, 1fr));
  padding: 10px;
}

.right-container{
    width: 70%;
    position: relative;
  }
.right-container-bg img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    filter: blur(2px);
    border: none;

  }
.right-container-text{
    position: absolute;
    bottom: 10%;
    right: 10%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 14%;
  }
  .right-container-text h1{
    font-size: 70px;
  }
  .degree{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .degree h2{
    font-size: 50px;
    padding-left: 10px;
  }
.location{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.location h3{
  font-size: 30px;
}
.forecast{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.forecast img{
  height: 85px;
}